<div class="container">
    <div class="row">
        <h1>People</h1>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Short name</th>
            <th>Initials</th>
            <th>Email address</th>
        </tr>
        <tr ng-repeat="person in people">
            <td><a ng-href="${pageContext.request.contextPath}/ui/person/{{person.name}}">{{person.name}}</a></td>
            <td>{{person.shortname}}</td>
            <td>{{person.initials}}</td>
            <td>{{person.email}}</td>
        </tr>
    </table>
</div>