<div class="container">
    <div class="row">
        <h1>Meeting Series</h1>
    </div>

    <div class="row">
        Status: {{status}}
    </div>
    <div class="row">
        <button type="button" class="btn btn-default" ng-click="addSeries()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Series
        </button>
    </div>
    <div class="row">
        <div class="panel panel-default" ng-repeat="series in meetingSeries">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3>
                    <a href="#" editable-text="series.name" onaftersave="saveSeries(series)">{{series.name||"Series
                        Name"}}</a>
                    <i ng-click="showMeetings(series.name)" class="clicky-element fa fa-arrow-right"></i>
                </h3>
            </div>
        </div>
    </div>
</div>