<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>
                Meeting Series: {{meetingSeries}}
            </h3>
        </div>
        <div class="col-md-4">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-lg" role="group">
                        <button type="button" class="btn btn-default"
                                ng-click="showConfigureMeetingSeries=!showConfigureMeetingSeries" data-toggle="button"
                                aria-pressed="false" autocomplete="off">
                            <i class="fa fa-cog"></i>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="addMeeting(meetingSeries)"><i
                                class="fa fa-plus"></i></button>
                        <button type="button" class="btn btn-default" ng-click="getMeetings()"><i
                                class="fa fa-undo"></i></button>
                    </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default" ng-show="showConfigureMeetingSeries">
            <div class="panel-body">
                <p ng-repeat="topic in series.standingTopics track by $index">
                    <a href="#" editable-text="series.standingTopics[$index]" onaftersave="saveSeries(series)">{{topic||"Topic"}}</a>
                </p>
            </div>
            <div class="panel-footer" ng-show="showConfigureMeetingSeries">
                <button type="button" class="btn btn-default" ng-click="addTopic()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Topic
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div ng-repeat="meeting in meetings">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-show="!meeting.showDetails"
                                        ng-click="meeting.showDetails=!meeting.showDetails"><i
                                        class="fa fa-chevron-down"></i></button>
                                <button type="button" class="btn btn-default" ng-show="meeting.showDetails"
                                        ng-click="meeting.showDetails=!meeting.showDetails"><i
                                        class="fa fa-chevron-right"></i></button>
                                <button type="button" class="btn btn-default"
                                        ng-click="meeting.showAttendees=!meeting.showAttendees" data-toggle="button"
                                        aria-pressed="false" autocomplete="off"><i
                                        class="fa fa-male"></i></button>
                                <button type="button" class="btn btn-default" ng-click="saveMeeting(meeting)"><i
                                        class="fa fa-upload"></i></button>
                                <button type="button" class="btn btn-default" ng-click="deleteMeeting(meeting, $index)">
                                    <i
                                            class="fa fa-trash"></i></button>
                            </div>
                            <a href="#" editable-text="meeting.meetingDate" onaftersave="saveMeeting(meeting)">{{meeting.meetingDate}}</a>
                        </h4>
                    </div>
                    <div class="panel-body" ng-show="meeting.showAttendees">
                        <h4>
                            Attendees
                            <button type="button" class="btn btn-default" ng-click="addAttendee(meeting)"><i
                                    class="fa fa-plus"></i>
                            </button>
                        </h4>
                        <span ng-repeat="attendee in meeting.attendees track by $index">
                            <a href="#" editable-text="meeting.attendees[$index]">
                                {{meeting.attendees[$index]||"Attendee"}}
                            </a>
                        </span>
                    </div>
                    <div class="panel-body" ng-show="meeting.showDetails">
                        <div ng-repeat="meetingItem in meeting.meetingItems track by $index">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i ng-click="meeting.meetingItems.splice($index,1)"
                                       class="clicky-element fa fa-times"></i>
                                    <a href="#" editable-text="meetingItem.category">{{meetingItem.category}}</a>

                                </div>
                                <div class="panel-body">
                                    <div ng-repeat="meetingEntry in meetingItem.meetingEntries track by $index">
                                        <i ng-click="meetingItem.meetingEntries.splice($index,1)"
                                           class="clicky-element fa fa-times"></i>
                                        <span class="clicky-element"
                                              ng-click="selectMeetingEntry(meetingItem.meetingEntries[$index])">
                                        {{meetingEntry.meetingEntryType}}
                                        {{meetingEntry.description}}
                                            </span>
                                    </div>
                                    <button type="button" class="btn btn-default" ng-click="addEntry(meetingItem)"><i
                                            class="fa fa-plus"></i></span> Add Entry
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h4>
                            <button type="button" class="btn btn-default" ng-click="addMeetingItem(meeting)"><i
                                    class="fa fa-plus"></i> Add Item
                            </button>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <a name="editBox"></a>
        <div class="col-md-8" ng-show="showEditMeetingEntryBox">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <i ng-click="deselectMeetingEntry()"
                           class="clicky-element fa fa-times"></i>
                        Edit Meeting Entry
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Description"
                               aria-describedby="basic-addon2" ng-model="selectedMeetingEntry.description">
                        <span class="input-group-addon" id="basic-addon2">Description</span>
                    </div>
                    <div class="input-group">
                        <select class="form-control" aria-describedby="entryType"
                                ng-model="selectedMeetingEntry.meetingEntryType"
                                ng-options="e.value as e.text for e in entryTypes"></select>
                        <span class="input-group-addon" id="entryType">Entry Type</span>
                    </div>
                    <text-angular
                            ng-model="selectedMeetingEntry.contents"></text-angular>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        Status: {{status}}
    </div>

</div>