<div>
    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{yourName}}!</h1>

    <div class="panel panel-default">
        <div class="panel-body btn-group">
            <button ng-repeat="category in categories" class="btn btn-default" ng-click="showCategory(category);">
                {{category}}
            </button>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>Assignee</th>
            <th>Summary</th>
            <th>Category</th>
            <th>Created</th>
            <th>due</th>
            <th>Logs</th>
        </tr>

        <tr ng-repeat="action in actions">
            <td>{{action.assignee}}</td>
            <td>{{action.summary}}</td>
            <td>{{action.category}}</td>
            <td>{{action.created}}</td>
            <td>{{action.due}}</td>
            <td>{{action.logs}}</td>
        </tr>
    </table>


</div>
