<div class="modal-header">
    <h3 class="modal-title">New Meeting Series</h3>
</div>
<div class="modal-body">
    <form name="meetingSeriesForm">
        <label>Meeting series name:
            <input type="text" name="input" ng-model="meetingSeries.text"
                   ng-pattern="meetingSeries.word" required ng-trim="true">

        </label>
                        <span class="error" ng-show="meetingSeriesForm.input.$error.required">
                          Required!</span>
                        <span class="error" ng-show="meetingSeriesForm.input.$error.pattern">
                          Alphanumerics only!</span>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="meetingSeriesForm.input.$error.pattern" ng-click="ok()">
        OK
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
